<div class="container-fluid">
    <div class="row">
        {{#each products}}
        <div class="col-md-3 mt-5">
            <div class="card m-auto" style="width: 18rem;">
                <img class="card-img-top" src="/admin_image/{{this._id}}.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="/cart?id={{this._id}}" class="btn btn-primary">Add_to_Cart</a>
                    <a href="/admin-pdf/{{this._id}}.pdf">Read boooks</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>